
<div class="posts">
	<p class="top_line">Hello this is your post</p>
	<p>The title is: 
    <span class="post_title"><%=@post.title%></span>
  </p>
	<p>The body is: <br/>
    <span class="post_body"><%=@post.body%></span>
  </p>
  <p>Create on: 
    <span class="time"><%= @post.created_at.strftime("%d %b %Y") %></span>
     by: </p>
	<p>These are the tags: </p>
		<ul>
      <% if @tags.length > 0 %>
  			<% @tags.each do |tag| %>
  			<li><a href='/tags/<%= tag.id %>'><%= tag.name %></a></li>
  			<% end %>
      <% else %>
        <span class="empty_space">TAG</span>
      <% end %>
		</ul>
</div>


<% content_for :foo do %>
 <a href="/posts/<%= @post.id %>/edit">Edit</a>
 <span class="delete_button"><%= delete_post_button(@post.id) %></span>
<% end %>